{% extends vendor_layout %}

{% block logo_text %}<a href="#">A Silex introduction</a>{% endblock %}
{% block slogan %}PHP microframework{% endblock %}

{% block header_links %}{% endblock %}

{% block menu %}{% endblock %}

{% block main_content %}{% endblock %}
{% block sidebar %}{% endblock %}

{% block footer %}{% endblock %}